/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

h1 {
    align-items: center;
    background-color: red;
    margin: 10px;
    text-align: center;
}


/* div li p {
    background-color: blue;
    font-size: 30px;
} */

/* 
p{
    background-color: black;
} */

div > p{
    background-color: blue;
    font-size: 30px;
}

div + p{
    background-color: black;
}