*{
    margin: 0;
    padding: 0;
}
.maincontainer-grid{
    background-color: red;
    background-color: blue;
    width: 70vw;
    height: 70vh;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;  
    margin-left: 40px; 
    display: grid; 
    row-gap: 35px;
    column-gap: 20px;
    /* grid-template-rows:133px 133px ;    
    grid-template-columns: 133px 133px 133px; */
    grid-template-columns: 1fr 50px 90px  50px 90px;
    grid-template-rows: 78px 1fr 150px 78px ;
}
.maincontainer-grid_items{
    background-color: red;
    /* height: 122px;
    width: 122px; */
    /* border-radius: 20px;
    margin: 20px; */
}
.items1{
    grid-column-start: 1;
    grid-column-end: 9;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: black;
    color: white;
}
#video-grid{
    background-color:white;
display: block;
border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
padding: 10px;
    color:blue;
}
